[MAIN]
ignore=.git
ignore-patterns=.*\.pyi,
                .*\.egg-info
jobs=0
load-plugins=pylint_quotes

[MESSAGES CONTROL]
disable=missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        too-few-public-methods,
        too-many-boolean-expressions,
        too-many-branches,
        too-many-locals,
        too-many-return-statements,
        too-many-statements,
        unspecified-encoding,
        use-dict-literal

[REFACTORING]
max-nested-blocks=6

[LOGGING]
logging-format-style=old
logging-modules=logging,
                loguru

; [VARIABLES]
; allow-global-unused-variables=no

[FORMAT]
expected-line-ending-format=LF

[SIMILARITIES]
ignore-imports=no

[BASIC]
class-attribute-naming-style=snake_case
good-names=bn,
           c,
           dl,
           dn,
           e,
           fd,
           fn,
           fp,
           i,
           id,
           j,
           k,
           f,
           g,
           m,
           n,
           of,
           s,
           t,
           ul,
           x,
           y,
           z
include-naming-hint=yes
inlinevar-naming-style=snake_case
module-naming-style=any

[DESIGN]
max-args=8
max-branches=15
max-locals=30
max-statements=80
