BeautifulSoup4
PyYAML
lxml
requests
typing-extensions

# - burnrariso requires cksfv, unrar (GPL version works too), and cdrecord
# - flac-* scripts require metaflac
# - GNU mv is expected with wmv (comes with GNU coreutils)
