{
  "cSpell.ignoreWords": [
    "Arkit",
    "CIGAM",
    "Cpqrv",
    "Epqrv",
    "Froms",
    "HEADOFHOUSEHOLD",
    "HKCU",
    "Imessage",
    "Itunes",
    "KAKASI",
    "LLVM",
    "Nologo",
    "RIPCD",
    "SJIS",
    "Sirikit",
    "TRACKNUMBER",
    "TXXX",
    "Tar'ing",
    "Tvos",
    "Ukpabmc",
    "WHEREFROMS",
    "Watchos",
    "Wkwebview",
    "Wwdc",
    "XAUTHORITY",
    "XINERAMA",
    "acodec",
    "algo",
    "amerge",
    "aout",
    "args",
    "aslr",
    "asyncio",
    "atempo",
    "bzip",
    "calcbpp",
    "cdparanoia",
    "cdrecord",
    "certutil",
    "chdir",
    "chost",
    "cksfv",
    "colorspace",
    "cscript",
    "cygpath",
    "discid",
    "ehthumbs",
    "executable's",
    "executables",
    "favicon",
    "ffmpeg",
    "flac",
    "flacted",
    "fuckery",
    "getopts",
    "globbing",
    "gnupg",
    "gnupghome",
    "handle",
    "hevc",
    "hicolor",
    "icns",
    "iconutil",
    "inul",
    "is",
    "isatty",
    "itertools",
    "khtml",
    "lanczos",
    "lavfi",
    "libx",
    "llhq",
    "loadfile",
    "lsregister",
    "lxml",
    "macos",
    "maxrate",
    "mcdonald",
    "mcdonald's",
    "mcdonalds",
    "metaflac",
    "mingw",
    "mkdtemp",
    "mkwineprefix",
    "mozcookie",
    "mplayer",
    "mprotect",
    "msapplication",
    "msgs",
    "msys",
    "msystem",
    "mysqldump",
    "nargs",
    "ncmds",
    "nfat",
    "nssdb",
    "nvenc",
    "openssl",
    "oradiag",
    "osfmk",
    "pabrv",
    "parms",
    "plist",
    "plistlib",
    "pointsize",
    "popen",
    "psql",
    "pycache",
    "pylint",
    "rars",
    "realpath",
    "recurse",
    "referer",
    "safemv",
    "setpts",
    "signum",
    "sizeofcmds",
    "socat",
    "sqlite",
    "strftime",
    "strptime",
    "struct",
    "sysctl",
    "syslog",
    "todos",
    "tsize",
    "ucwords",
    "uids",
    "uint",
    "unrar",
    "usec",
    "vcodec",
    "winxp",
    "xargs",
    "xattr",
    "xcode",
    "xdpyinfo"
  ],
  "files.associations": {
    "*.json.dist": "json"
  },
  "python.pythonPath": "/opt/local/bin/python",
  "python.testing.nosetestsEnabled": false,
  "python.testing.promptToConfigure": false,
  "python.testing.pytestEnabled": false,
  "python.testing.unittestEnabled": false
}
