{
  "cSpell.ignoreWords": [
    "Arkit",
    "CIGAM",
    "Cpqrv",
    "Epqrv",
    "Froms",
    "HEADOFHOUSEHOLD",
    "HKCU",
    "Imessage",
    "Itunes",
    "KAKASI",
    "LLVM",
    "Nologo",
    "RIPCD",
    "SJIS",
    "Sirikit",
    "TRACKNUMBER",
    "TXXX",
    "Tar'ing",
    "Tvos",
    "Ukpabmc",
    "WHEREFROMS",
    "Watchos",
    "Wkwebview",
    "Wwdc",
    "XAUTHORITY",
    "XINERAMA",
    "acodec",
    "ahci",
    "ala",
    "alayhi",
    "alayka",
    "alayya",
    "algo",
    "amerge",
    "an",
    "anhu",
    "anka",
    "anni",
    "aout",
    "args",
    "aslr",
    "asyncio",
    "atempo",
    "autorun",
    "bi",
    "biha",
    "bihi",
    "bika",
    "bzip",
    "calcbpp",
    "capitalise",
    "cdparanoia",
    "cdrecord",
    "certutil",
    "chdir",
    "chost",
    "cksfv",
    "colorspace",
    "cond",
    "cscript",
    "cuvid",
    "cygpath",
    "discid",
    "dists",
    "dpkg",
    "ehthumbs",
    "epub",
    "executable's",
    "executables",
    "exif",
    "exiftool",
    "extdebug",
    "favicon",
    "ffmetadata",
    "ffmpeg",
    "fi",
    "fihi",
    "fika",
    "fiya",
    "flac",
    "flacted",
    "fuckery",
    "funcs",
    "getopts",
    "globbing",
    "gnupg",
    "gnupghome",
    "handle",
    "hevc",
    "hicolor",
    "hwaccel",
    "hwdownload",
    "hwinfo",
    "icns",
    "iconutil",
    "ila",
    "ilayhi",
    "ilayka",
    "ilayya",
    "iname",
    "inul",
    "is",
    "isatty",
    "itertools",
    "khtml",
    "l",
    "lahu",
    "laka",
    "lanczos",
    "lavfi",
    "li",
    "libx",
    "llhq",
    "loadfile",
    "lsregister",
    "lxml",
    "maa",
    "maahu",
    "maaka",
    "macos",
    "mai",
    "maxdepth",
    "maxrate",
    "mcdonald",
    "mcdonald's",
    "mcdonalds",
    "metaflac",
    "min",
    "mingw",
    "minhu",
    "minka",
    "minni",
    "mjpeg",
    "mkdir",
    "mkdtemp",
    "mktemp",
    "mkvpropedit",
    "mkwineprefix",
    "mozcookie",
    "mplayer",
    "mprotect",
    "msapplication",
    "msgs",
    "msys",
    "msystem",
    "mysqldump",
    "nargs",
    "ncmds",
    "nfat",
    "nssdb",
    "nvenc",
    "openssl",
    "oradiag",
    "osfmk",
    "pabrv",
    "parms",
    "plist",
    "plistlib",
    "pointsize",
    "popd",
    "popen",
    "printf",
    "psql",
    "pushd",
    "pycache",
    "pylint",
    "qphotorec",
    "rars",
    "realpath",
    "recurse",
    "referer",
    "roboto",
    "safemv",
    "setpts",
    "shellcheck",
    "shopt",
    "signum",
    "siri",
    "sizeofcmds",
    "socat",
    "sqlite",
    "strftime",
    "strptime",
    "struct",
    "sysctl",
    "sysfs",
    "syslog",
    "todos",
    "tsize",
    "ucwords",
    "uids",
    "uint",
    "umount",
    "unrar",
    "usbfs",
    "usec",
    "vcodec",
    "wa",
    "winxp",
    "xargs",
    "xattr",
    "xcode",
    "xdev",
    "xdpyinfo"
  ],
  "files.associations": {
    "*.json.dist": "json"
  },
  "python.linting.pylintEnabled": true,
  "python.pythonPath": "/home/tatsh/.virtualenvs/misc-scripts/bin/python",
  "python.testing.nosetestsEnabled": false,
  "python.testing.promptToConfigure": false,
  "python.testing.pytestEnabled": false,
  "python.testing.unittestEnabled": false
}
