---
jobs:
  test:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Poetry
        run: pipx install poetry
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          cache: poetry
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies (Poetry)
        run: poetry install --with=dev,docs,tests --all-extras
      - name: Install dependencies (Yarn)
        run: yarn
      - name: Run tests
        run: yarn test --cov=choco --cov-branch
      - if: matrix.python-version == 3.13
        name: Coveralls
        run: poetry run coveralls --service=github
    strategy:
      matrix:
        python-version:
          - '3.11'
          - '3.12'
          - '3.13'
name: Tests
'on':
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
